.plot-text {
  text-transform: capitalize;
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
  font-style: normal;
  user-select: none;
}


.plot-animation-move {
  transition: transform 420ms ease 5ms;
}

.plot-animation-fill {
  transition: fill 420ms ease 5ms;
}

foreignObject{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


.fi{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.fa{

}

foreignObject{
  /* transition: opacity 100ms ease 5ms; */

}
